@use "../variables.scss" as var;

.link-button {
  display: inline-block;
  padding: 13px 27px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    box-shadow: var.$shadow-hover;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: var.$shadow-active;
  }

  &--accent {
    box-shadow: var.$shadow;
    background-color: var.$color-accent;
  }
}
