@use "../variables.scss" as var;

.form__fieldset {
  display: flex;
  padding: 0;
  border: none;
  gap: 30px;

  @media (max-width: var.$breakpoint-medium) {
    flex-direction: column;
    gap: 0;
  }
}

.form__field {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.form__label {
  position: absolute;
  top: -12px;
  left: 10px;
  padding: 3px 8px;
  background-color: var.$color-white;
}

.form__input {
  width: 100%;
  padding: 13px 20px;
  border: var.$border;
}

.form__input--error {
  border-color: var.$color-error;
}

.form__area {
  height: 190px;

  @media (max-width: var.$breakpoint-small) {
    height: 140px;
  }
}

.form__errors {
  position: absolute;
  left: 0;
  bottom: -32px;
  font-size: 14px;
  color: var.$color-error;
}

.form__submit-btn {
  display: block;
  @media (max-width: var.$breakpoint-small) {
    margin: 0 auto;
  }
}
