@use "./variables.scss" as var;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var.$font-primary;
  font-weight: 700;
  color: var.$color-black;
  scroll-behavior: smooth;
  background-color: var.$color-white;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.js-menu-open {
  overflow: hidden;
}
