$font-primary: "Poppins", "Arial", sans-serif;

$color-black: #000000;
$color-white: #ffffff;
$color-accent: #ffa501;
$color-overlay: rgba(255, 255, 255, 0.75);
$color-error: #ff6061;

$border: 1px solid #000000;

$shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
$shadow-hover: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
$shadow-active: 0 2px 2px 0 rgba(0, 0, 0, 0.3);

$breakpoint-large-x: 1400px;
$breakpoint-large: 1140px;
$breakpoint-medium: 768px;
$breakpoint-small: 320px;
